@import './variables';

@mixin editorToolsBtn(
  $iconImgUrl,
  $btnSize: 36px,
  $iconSize: 80%,
  $iconColor: $accent-medium
) {
  width: $btnSize;
  height: $btnSize;
  border: none;
  border-radius: $btn-border-radius;
  background: none;
  cursor: pointer;

  &::before {
    content: '';
    display: block;
    width: $iconSize;
    height: $iconSize;
    margin: auto;
    background-color: $iconColor;
    -webkit-mask: url($iconImgUrl) no-repeat center / contain;
    mask: url($iconImgUrl) no-repeat center / contain;
  }

  @media (hover: hover) {
    &:hover {
      background-color: $light-gray;
    }
  }
}

@mixin btnClose($btnSize: 20px) {
  width: $btnSize;
  height: $btnSize;
  border: none;
  border-radius: $btn-border-radius;
  background: none;
  cursor: pointer;

  &::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    margin: auto;
    background-color: $accent-light-x2;
    -webkit-mask: url('../../assets/icons/close.png') no-repeat center / contain;
    mask: url('../../assets/icons/close.png') no-repeat center / contain;
  }

  @media (hover: hover) {
    &:hover {
      &::before {
        background-color: $accent-medium;
      }
    }
  }
}
