$main-color: #efe2dd;
$main-color-light: #fff5f5;
$main-color-dark: #e1d3ce;
$accent-light-x2: hsl(345, 18%, 47%);
$accent-light: #704c55;
$accent-medium: #563941;
$accent-dark: #38211a;
$light-gray: #f0f0f0;
$gray: #686868;
$blue: #007deb;
$blue-x2: #6c69ce;
$blue-x3: #38b2e2;
$blue-x4: #020492;
$pink: #ff00aa;
$pink-x2: #f138b4;
$orange: #d17d00;
$green: #20be20;

$deg: -86deg;
$trans: all 0.4s ease 0s;

$scrollbar-width: 4px;
$scrollbar-width-total: $scrollbar-width * 3;

$header-z-index: 50;
$overlay-z-index: $header-z-index + 1;

$btn-border-radius: 5px;
$block-border-radius: 10px;

$font-size-15: 15px;
