@import '../../styles/abstracts/variables';

.control-panel {
  display: flex;
  flex-direction: column;
  width: 40px;
  gap: 10px;

  button {
    display: flex;
    align-items: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
  }

  .run::before {
    content: '';
    display: block;
    width: 80%;
    height: 80%;
    margin: auto;
    background-color: white;
    -webkit-mask: url('../../assets/icons/play.png') no-repeat center / contain;
    mask: url('../../assets/icons/play.png') no-repeat center / contain;
  }

  .prettify::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    margin: auto;
    background-color: $accent-light;
    -webkit-mask: url('../../assets/icons/broomstick.png') no-repeat center /
      contain;
    mask: url('../../assets/icons/broomstick.png') no-repeat center / contain;
  }
}
