@import './../../styles/abstracts/variables';
@import './../../styles/abstracts/mixins';

.settings-btn {
  border: none;
  background-color: transparent;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
  position: relative;
  transition: $trans;

  &:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  width: 500px;
  max-width: 100vw;
  padding: 15px;
  border-radius: $block-border-radius;
  background-color: $main-color-light;
  box-sizing: border-box;

  .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  .close-btn {
    @include editorToolsBtn(
      $iconImgUrl: '../../assets/icons/close.png',
      $btnSize: 36px,
      $iconSize: 50%
    );
  }

  .intro {
    font-size: 16px;
    margin: 20px 0;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba($accent-dark, 0.5);
  z-index: $overlay-z-index;
}

.api-settings-form {
  .field {
    column-gap: 15px;

    & input {
      width: auto;
      flex-grow: 1;
      align-self: stretch;
    }
  }
}
