@import './abstracts/variables';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 18px;
  color: $accent-light;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

section {
  padding: 60px 40px;

  @media screen and (max-width: 768px) {
    padding: 40px 10px;
  }
}

h2 {
  color: $accent-medium;
  font-size: 2.5em;
  margin-bottom: 40px;
  text-align: center;

  @media screen and (max-width: 768px) {
    margin-bottom: 20px;
    font-size: 36px;
  }
}

li {
  list-style: none;
}

.container {
  max-width: 1280px;
  padding: 0 20px;
  margin: 0 auto;

  @media screen and (max-width: 768px) {
    padding: 0 10px;
  }
}

/* Scrollbar */
::-webkit-scrollbar {
  width: $scrollbar-width-total;
  height: $scrollbar-width-total;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.03);
  border: solid $scrollbar-width transparent;
  background-clip: padding-box;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.06);
  background-clip: padding-box;
  border-radius: $scrollbar-width;
  border: solid $scrollbar-width transparent;
}

::-webkit-scrollbar-corner {
  background: transparent;
}
