@import './../../styles/abstracts/variables';

.btn {
  font-size: 14px;
  text-decoration: none;
  display: block;
  padding: 5px 10px;
  background-color: $main-color-dark;
  color: $accent-medium;
  font-weight: 700;
  margin-left: 15px;
  border-radius: 5px;
  transition: $trans;

  &:hover {
    background-color: $main-color-light;
  }
}

.welcome-nav {
  text-align: center;
  position: absolute;
  top: 80px;
  right: 20px;

  & ul {
    display: flex;
    align-items: center;
    flex-direction: row;
  }

  @media screen and (max-width: 768px) {
    right: 10px;
  }

  @media screen and (max-width: 533px) {
    top: 120px;
  }

  .btn {
    padding: 0px 8px;
    background-color: transparent;
    border: 2px solid $main-color-dark;
    color: $accent-light;
  }
}
