@import './../../styles/abstracts/variables';

.header {
  padding: 20px 0;
  background-color: $accent-light;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 50;
  transition:
    background-color 0.4s ease 0s,
    padding 0.4s ease 0s,
    top 0.8s ease 0s;

  &.scrolled {
    background-color: $accent-medium;
    background-color: $accent-medium;
    padding: 30px 0 10px 0;
    top: -20px;
  }

  ul {
    display: flex;
    justify-content: flex-end;
  }

  .header-body {
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 533px) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

  .header-right {
    display: flex;

    @media screen and (max-width: 533px) {
      margin-top: 10px;
    }
  }
}
