@import './../../styles/abstarcts/variables';

.team {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.member {
  margin: 1.5em auto 0.5em;
  padding: 0.73em;
  background: linear-gradient(
    83deg,
    $accent-medium 0 97%,
    #fff0 calc(97% + 1px) 100%
  );
  position: relative;
  list-style: none;
  display: inline-block;
  transform: scale(0.85);
  transition: $trans;
  max-width: 700px;
}

.member:nth-of-type(even) {
  text-align: right;
  background: linear-gradient(
    -83deg,
    $accent-medium 0 97%,
    #fff0 calc(97% + 1px) 100%
  );
}

.thumb {
  width: 13vmin;
  height: 13vmin;
  float: left;
  margin-right: 1.25em;
  background: linear-gradient(
    $deg,
    $main-color-light 0 70%,
    $accent-medium 0% 100%
  );
  transform: rotate(-4deg);
  transition: $trans;
  border-radius: 0.25em;
  overflow: hidden;
  margin-left: -3em;
  padding: 0.5em;

  @media screen and (max-width: 768px) {
    margin-left: 0;
    min-width: 70px;
    min-height: 70px;
  }
}

.member:nth-of-type(even) .thumb {
  --deg: 86deg;
  float: right;
  margin-left: 2em;
  margin-right: -3em;
  transform: rotate(4deg);

  @media screen and (max-width: 768px) {
    margin-right: 0;
  }
}

.thumb img {
  width: 100%;
  height: 100%;
  border-radius: 0.25em;
  filter: grayscale(1);
  background: $main-color-light;
}

.member:hover {
  transform: scale(1);
  transition: $trans;
  filter: drop-shadow(0px 20px 10px #0008);
}

.member:hover .thumb {
  padding: 0.1em;
  transition: $trans;
  transform: rotate(-1deg);
  --deg: -89deg;
}

.member:nth-of-type(even):hover .thumb {
  --deg: 91deg;
}

.member:hover .thumb img {
  filter: none;
  transition: $trans;
}
