@import './../../styles/abstracts/variables';

.error-page {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 40px 40px 100px;

  h2 {
    @media screen and (max-width: 768px) {
      font-size: 32px;
    }

    @media screen and (max-width: 360px) {
      font-size: 24px;
    }
  }

  p {
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    margin-bottom: 40px;

    @media screen and (max-width: 768px) {
      font-size: 20px;
    }

    @media screen and (max-width: 360px) {
      font-size: 16px;
      margin-bottom: 20px;
    }
  }

  @media screen and (max-width: 768px) {
    padding: 20px 10px;
    height: calc(100vh - 184px);
  }

  .error-pic {
    display: block;
    margin-bottom: 40px;
    width: 120px;

    @media screen and (max-width: 768px) {
      width: 80px;
      margin-bottom: 20px;
    }

    @media screen and (max-width: 360px) {
      width: 50px;
      margin-bottom: 10px;
    }
  }

  .button {
    align-items: center;
    background-color: $accent-light;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: $main-color;
    text-transform: uppercase;
    cursor: pointer;
    display: inline-flex;
    font-family:
      system-ui,
      -apple-system,
      system-ui,
      'Helvetica Neue',
      Helvetica,
      Arial,
      sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    min-height: 3rem;
    padding: 5px 30px;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: auto;

    @media screen and (max-width: 360px) {
      min-height: 2.5rem;
      padding: 5px 30px;
    }
  }

  .button:hover,
  .button5:focus {
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
    background-color: $accent-medium;
    color: $main-color-light;
  }

  .button:hover {
    transform: translateY(-1px);
  }

  .button:active {
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
    color: $main-color-light;
    transform: translateY(0);
  }
}
