@import './../../styles/abstracts/variables';

.sign-section {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background-color: $main-color-light;
  height: 100%;
}

.sign-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 1280px;
  padding: 0 20px;
  margin: 0 auto;

  @media screen and (max-width: 768px) {
    padding: 0 10px;
  }
}

.sign-title {
  color: $accent-medium;
  font-size: 2em;
  font-weight: 700;
  margin-bottom: 25px;

  @media screen and (max-width: 768px) {
    margin-bottom: 20px;
  }
}

.sign-form {
  padding: 20px 40px 34px 40px;
  border-radius: 10px;
  background-color: $main-color;

  @media screen and (max-width: 533px) {
    padding: 10px 35px 30px 35px;
  }
}

.fields-container {
  display: flex;
  flex-direction: column;
  width: 380px;

  @media screen and (max-width: 533px) {
    width: 210px;
  }
}

.submit-btn {
  color: $main-color-light;
  background-color: $accent-light;
  height: 35px;
  width: 100%;
  margin: 20px 0 0 0;
  font-weight: 500;
  border-radius: 10px;
  border: solid 0 transparent;
  cursor: pointer;
  transition: $trans;

  @media screen and (max-width: 533px) {
    margin: 25px 0 0 0;
  }

  &:hover {
    background-color: $accent-light-x2;
  }

  &:disabled {
    cursor: not-allowed;
    background-color: $accent-light;
  }
}

.sign-text {
  margin: 10px 0 0 0;

  .sign-link {
    font-weight: 500;
    color: $accent-medium;
  }
}
